*
!.gitignore
!check_pull_requests.py
!fetch_pr.py
!fetch_pr.bck.py
!analyze_pr.py
!gen_report.py
!gen_attendance.py
!gen_writeup.py
!gen_cover.py
!gen_overview.py
!test_submission.py
!lib
!courses
!courses/**
!data
!data/**
!labs_dbms
!labs_dbms/**
!lib/writeup/providers/**
!pr_console.py